<div class="row">
  <div class="col-xs-12">
    <h1>CSS Garden of Good and Evil</h1>
    <p>Choose your destiny, if you dare</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <form action="/update" method="post">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="goodOrEvil" value="good">
          Good
        </label>
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="goodOrEvil" value="evil">
          Evil
        </label>
      </div>
      <div>
        <label for="favoriteFood">Favorite Food</label>
        <input type="text" class="form-control" name="favoriteFood" placeholder="Favorite Food">
      </div>
      <div class="form-group">
        <label for="favoriteColor">Favorite color:</label>
        <select class="form-control" name="favoriteColor">
          <option>Red</option>
          <option>Blue</option>
          <option>Yellow</option>
          <option>Green</option>
        </select>
      </div>
      <div>
        <label for="insanityLevel">Insanity Level: (currently at {{insanityLevel}})</label>
        <input type="range" name="insanityLevel" min="0" max="666">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div>
      <ul> Likes
        <li>
          {{favoriteFood}}
        </li>
        <li>
          {{favoriteColor}}
        </li>
      </ul>
      <ul> Dislikes
        <li>
          Blah
        </li>
      </ul>
    </div>
  </div>
  </div>
