<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main class="container-fluid {{goodOrEvil}}">
      {{#if isALittleInsane}}
      <div class="little-insane">
      {{/if}}

      {{#if isMediumInsane}}
      <div class="medium-insane">
      {{/if}}

      {{#if isVeryInsane}}
      <div class="very-insane">
      {{/if}}

        {{{body}}}

      </div>
    </main>
  </body>
</html>
