body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.good {
  color: #000;
  background: #73A580;
}

.evil {
  color: #000;
  background: #511C29;
}