
.good {
  color: #000;
  background: #73A580;
}

.evil {
  color: #fff;
  background: #511C29;
}

.little-insane {
  font-family: Arial, Helvetica, sans-serif;
}

.medium-insane {
  font-family: Impact, Charcoal, sans-serif;
}

.very-insane {
  font-family: "Comic Sans MS", cursive, sans-serif;
}


.red {
  background: #D46A6A;
}

.blue {
  background: #4F628E;
}

.green {
  background: #55AA55;
}

.yellow{
  background: #D4CB6A;
}

.form{
  background: white;
  border: 3px solid darkgrey;
  border-radius: 15px;
  padding:7px;
}
