body {
  background: #F4F4F4;
}

.good {
  color: #000;
}

.evil {
  color: #fff;
}

.little-insane {
  font-family: Arial, Helvetica, sans-serif;
}

.medium-insane {
  font-family: Impact, Charcoal, sans-serif;
}

.very-insane {
  font-family: "Comic Sans MS", cursive, sans-serif;
}


.red {
  background: #D46A6A;
}

.blue {
  background: #4F628E;
}

.green {
  background: #55AA55;
}

.yellow{
  background: #D4CB6A;
}

.form{
  padding:7px;
  box-shadow: 0 0 10px #888888;
  margin-bottom: 30px;
  border-radius:10px;
}


.submit{
  background: #89BDEE;
  border-radius: 0;
  color: #fff;
}

.submit:hover{
  background: #FACC83;
  color: #fff;
}

.like-list {
  background: #fff;
}
.like-list h6{
  color: #FACD86;
  font-weight: bold;
}

.like-list h3{
  margin: 0;
}

.like-list li{
  list-style-type: none;
}